@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Github Workflow Actions and CI/CD</a>.</p>
    <p>Learning Azure pipelines CI/CD with Github Actions and workflows</p>
</div>
